@import '../../Components/Styles/index.scss';



.home {
    @extend %container-main;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: $font-size-title;
        color: $color-red;
    }

    div {
        font-size: $font-size-subtitle;
        padding: 10px;
        margin: 10px;
    }
}