@import '../../Components/Styles/index.scss';



.home {
    @extend %container-main;
    margin-top: 50px;
    h1 {font-size: $font-size-title;color: $color-red;}
    div { 
        font-size:$font-size-subtitle;
        padding: 10px;
        margin: 10px;
        
    }

}

