@import '../Styles/index.scss';


.header {
    margin: 15px 0px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %container-main;
        

        li {
            // font-size: 25px;
            font-size:$font-size-title;
            font-style: normal;
            font-weight: 700;
            position: relative;
            cursor: pointer;
            margin: 0px 5px;
            

            &:after {
                display: block;
                position: absolute;
                left: 50%; transform: translateX(-50%); //из центра в стороны
                // left: 0;
                /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;
                /*задаём длинну линии до наведения курсора*/
                height: 4px;
                /*задаём ширину линии*/
                background-color:$color-red;
                /*задаём цвет линии*/
                content: "";
                transition: width 0.3s ease-out;
                /*задаём время анимации*/
            }

            &:hover:after,
            &:focus:after {
                width: 100%;
                /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }

        img {
            border-radius: 50%;
            max-width: 120px;
        }
    }
}
// .active{color: red; background-color: aqua;}
