@import '../Styles/index.scss';



.footer {

    margin-top: auto;
    // background-color: aqua;
    @extend %container-main;
    width: 100%;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // @extend %container-main;
        margin-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        margin: 0px 5px;

        h3 {
            flex-grow: 1;
            font-size: $font-size-subtitle;
            text-align: center;
        }
    }
}



