@import '../../Components/Styles/index.scss';

.faq { 
    @extend %container-main;
    overflow: hidden;   
}
.faq__accordion {
// background-color: aqua;

}

.faq__item{
    // background-color: chartreuse;
    
    margin: 20px;
    transition: height 1s;
    padding: 15px;
}

.faq__header{
    position: relative;
    width: 100%;
    transition: height 1s;
    background-color: chocolate;
}

.faq__collapse{
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.faq__collapse.open {
    height: auto;
    transition: height 1s;
  }


.faq__body{
    background-color: red;
    min-height: 50px;
    transition: height 1s;
}

