@import '../Styles/index.scss';

.accordion {  
    border-radius: 7px;
  }
  
  .accordion-item {
    margin-bottom: 16px;
    border-radius: 7px;
  }
  
  .accordion-header {
    position: relative;
    width: 100%;
    padding: 20px 60px 20px 30px;
    background-color: black;
    border: 0;
    border-radius: 7px;
    font-size: 22px;
    text-align: left;
  }

  .accordion-collapse {
    height: 0;
    overflow: hidden;
    transition: height 1s;
  }
  
  // .accordion-collapse.open {
  //   height: auto;
  // }

  .accordion-body { 
    padding: 20px ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 20px;
    color: black;
    background-color: #ffffff;
  }

  .accordion-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 30px;
    height: 17px;
    fill: $color-red;
    transform: translateY(-50%);
  }
  
  .accordion-arrow.active {
    transform: translateY(-50%) rotate(180deg);
    fill: #ffffff;
  }