@import '../Styles/index.scss';
@import 'swiper/scss';



.slider {
    @extend %container-main;
    max-width: 100%;
    height: 70vh;

    &__container {
        display: flex;
        max-width: 100%;
        max-height: 70vh;

        @media (max-width:1025px) {
            max-width: 925px;
        }

        @media (max-width:768px) {
            max-width: 695px;
        }

        @media (max-width:697px) {
            max-width: 625px;
        }

        @media (max-width:627px) {
            max-width: 562px;
        }

        @media (max-width:564px) {
            max-width: 506px;
        }

        @media (max-width:508px) {
            max-width: 481px;
        }

        @media (max-width:483px) {
            max-width: 433px;
        }

        @media (max-width:435px) {
            max-width: 390px;
        }

        @media (max-width:392px) {
            max-width: 350px;
        }

        @media (max-width:352px) {
            max-width: 318px;
        }

        .slider__subtitle {
            text-align: center;
            font-size: $font-size-subtitle;
            margin-bottom: 20px;
        }

        .slider__img-wrap {
            display: flex;
            height: 100%;
            background-color: #d3d3d3;

            .slider__imges {
                object-fit: cover;
                width: 100%;
                height: 80vh;
            }
        }

    }
}


.swiper-button-prev:after {
    color: $color-red;
}

.swiper-button-next:after {
    color: $color-red;
}

.swiper-pagination-fraction {
    color: $color-red !important;
}